* {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

form {
    margin: 0;
    padding: 0;
}

.action{
    border: none;
    border-radius: 2em;
    bottom: -1.5em;
    box-shadow: 0px 6px 5px 0px #444;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 1em;
    z-index: 200;
}

.row1 {
    color: rgba(85, 85, 85, 1.0);
}

.row2 {
    background-color: rgba(243, 88, 179, 1);
    box-shadow: 0px 5px 6px 3px #444;
    color: white;
    z-index: 100;
}
.row2 .action {
    background: -webkit-linear-gradient(top, rgba(255,93,177,1) 0%,rgba(239,1,124,1) 100%);
}
.row2 .action:hover {
    background: -webkit-linear-gradient(bottom, rgba(255,93,177,1) 0%,rgba(239,1,124,1) 100%);
}

.row3 {
    background-color: rgba(85, 85, 85, 1.0);
    box-shadow: 0px 5px 6px 3px rgba(62,62,62, 1.0);
    color: white;
    padding-top: 1em;
}


.imageArea {
    
}
.imageArea .imgContainer {
    display: inline-block;
    margin-bottom: 1em;
    vertical-align: top;
}
.imageArea .imgContainer img {
    max-width: 100%;
}
.imageArea .imgContainer p {
	cursor: pointer;
    display: none;
    font-size: 5em;
    height: 51%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.imageArea .imgContainer p span{
    padding-top: 20%;
}
.imageArea .imgContainer p:hover {
    opacity: 0.9;
}
.imageArea .imgContainer .select {
    background-color: white;
    color: rgba(255,93,177,1);
}
.imageArea .imgContainer .edit {
    background-color: rgba(255,93,177,1);
    color: white;
    top: 50%;
}

#uploadForm {
    height: 0px;
}
#uploader {
    display: none;
}